---
layout: page
permalink: /categories/
title:
---


<div class="category-ul">
{% for category in site.categories %}
  <div>
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name }}"></div>
    <h3 class="category-head">{{ category_name | slugize }}</h3>
    
{% assign intro_desc = "sarasa sarasa intro" %}
{% assign imaginable_desc = "sarasa sarasa imaginable" %}

{% for post in site.categories['Intro'] %}
{% capture category_description %}
{{ intro_desc }}.
{% endcapture %}
<p class="category-description">{{ category_description }}</p>
{% endfor %}

{% for post in site.categories['Imaginable'] %}
{% capture category_description %}
{{ imaginable_desc }}.
{% endcapture %}
<p class="category-description">{{ category_description }}</p>
{% endfor %}
    
   <ul class="post-list">
    {% for post in site.categories[category_name] %}
    {% include post-list-item.html %}
    {% endfor %}
   </ul>
  </div>
{% endfor %}
</div>
