---
layout: page
permalink: /categories/
title:
description: A very simple way to add structured data to a page.
---


<div class="category-ul">
{% for category in site.categories %}
  <div>
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="{{ category_name }}"></div>
    <h3 class="category-head">{{ category_name | slugize }}</h3>
    
{% assign intro_desc = "sarasa sarasa 1" %}
{% assign imaginable_desc = "sarasa sarasa 1" %}

{% if category != "Intro" %}
{% capture category_description %}
{{ intro_desc }}.
{% endcapture %}
{% endif %}
<p class="category-description">{{ category_description }}</p>

{% if category != "Imaginable" %}
{% capture category_description %}
{{ imaginable_desc }}.
{% endcapture %}
{% endif %}
<p class="category-description">{{ category_description }}</p>
    
   <ul class="post-list">
    {% for post in site.categories[category_name] %}
    {% include post-list-item.html %}
    {% endfor %}
   </ul>
  </div>
{% endfor %}
</div>
