---
layout: page
permalink: /categories/
title: Categories
---


<div class="post-link__heading">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h1 class="post-link__title"><a href="{{ site.baseurl }}{{ post.url }}" class="post-link">{{post.title}}</a></h1>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
