/* PTSerif-Regular */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/PTSerif-Regular.ttf') format('truetype');
}
