.footnote {
  display: inline;
  font-size: .75em;
  font-weight: 700;
  padding: 0 .75em;
  text-decoration: none;
  margin: 0 .25em;
  &:hover,
  &:focus {
    background: $muted-text-color;
    border-color: $muted-text-color;
  }
}

.footnotes::before {
  content: '';
  margin: 3em auto;
}

.footnotes {
  margin-bottom: 3em;
}

.footnotes li {
  margin-bottom: 1em;
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}
