.footnote {
  color: $text-color;
  display: inline;
  font-size: .5em;
  font-weight: 400;
  padding: 0 0 0 .05em;
  text-decoration: none;
  margin: 0;
  vertical-align:top;
  &:hover,
  &:focus {
    color: $muted-text-color;
  }
}

.footnotes::before {
  content: '';
  margin: 5em auto;
}

.footnotes {
  margin-bottom: 3em;
  font-size: .65em;
}

.footnotes h5 {
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: .65em;
}

.footnotes li {
  margin-bottom: 1em;
}

.reversefootnote {
  font-size: .75em;
  opacity: .75;
}
