$brand-color:         #171f22;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$for-dark-background: #f5f5f5;
$muted-text-color:    #fdc300;
$font-family:         "PT Serif", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
